.row
{
    position:relative;
    top:80px;
    padding-right:450px;
}

*{
    margin: 0;
    padding: 0;
    
}
.val{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: white;
    padding:5px;
}
a:hover{
  color:green;
}

h1{
  color: white;
}
h1:hover{
  color: green;
  cursor: pointer;
}


header {
  
    height: 99vh;
    background-size: cover;
    background-position: left center;
    padding: 5px;
    background-image: linear-gradient(rgba(0, 0,0, 0.7),rgba(0, 0,0, 0.7)),url("staff.jpg");
    background-size:1550px 880px;
}
.head h1{
    color: #d6a502;

}
.head{
  padding-top: 100px;
}

.active:hover {
  background-color: white;
  font-color:black;
}
.active
{
  align:right;
  background-color: goldenrod; 
  border: none; 
  font-color: blue; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}
div.aaa{
  position: relative;
  top:50px;
}
.aaa
{
    width: 760px;  
    height:300px;
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    font-size: 15px;
    padding: 10px 10px 10px 10px;  
    padding-bottom: 90px; 
    padding-top: 50px; 
    padding-left: 50px; 
    padding-right: 70px; 
    box-shadow: 0px 2px 15px 10px #d6a502; 
    border-radius: 15px ;  
    background-image:no-repeat;
   float:left;
}
.main-nav
{

    list-style: none;
    margin-bottom: 40px;
    float:right;
}



.main-nav li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: inherit;
    font-size: 17px;

    
}

.main-nav li a:hover{
    
    border:1px solid ;
    color: goldenrod;

} 